extends ../main-layout.pug

block vars
	- var title = 'Courses'

block content
	.container
		section.section.breadcrumbs        
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="#").breadcrumbs__link Main 
				li.breadcrumbs__item
					a(href="#").breadcrumbs__link Education                                            
				li.breadcrumbs__item
					a.breadcrumbs__link Courses

		aside.sidebar
			ul.courses-category
				li.courses-category__item.sidebar__section
					a(href="").courses-category__link Front-End
						span.courses-category__total (25 courses)
				li.courses-category__item.sidebar__section
					a(href="").courses-category__link Back-End
						span.courses-category__total (15 courses)
				li.courses-category__item.sidebar__section
					a(href="").courses-category__link Workflow
						span.courses-category__total (10 courses)

		main.main-content.topnews__item

			ul.courses-gallery
				each course in items
					li.courses-gallery__item
						a(href="" class=`courses-gallery__link courses-gallery__link_${course.name}`)
							img(src=`${course.picture}` alt=`${course.name}`).courses-gallery__img
							.courses-gallery__name= course.name
							.courses-gallery__desc= course.desc
							-
								var start = course.dateStart.toLocaleDateString('en-US');
								var end = course.dateEnd.toLocaleDateString('en-US');

							.courses-gallery__dates= `${start} - ${end}` 

				li.courses-gallery__item.courses-gallery__item_add-course#add-new
					a(href="" class=`courses-gallery__link courses-gallery__link_add-course`)
						.courses-gallery__img.courses-gallery__img_add-course
							svg.courses-gallery__icon
								use(xlink:href=`assets/img/sprite.svg#plus`)
						.courses-gallery__name Add New Course
				
			form.form.add-course-form#add-course(action='/upload' method="POST" enctype="multipart/form-data")
				.form__title.subtitle.subtitle_dashed Add course
				.status
				.form__input-line
					input(id="name" type="text" name="name" class="form__input" placeholder="Name" required)
				.form__input-line
					textarea(name="desc" placeholder="Describe the course").form__input#desc
				.form__input-line
					.form__input-file-img#img-holder
					input(name="photo" type="file" required accept="image/*").form__input.form__input-file#file-select
				
				.form__input-line.form__input-group
					label(for="date-start").form__label Course starts:
					input(id="date-start" type="date" name="start" class="form__input login-form__username" placeholder="" required)

				.form__input-line.form__input-group
					label(for="date-end").form__label Course ends:
					input(id="date-end" type="date" name="end" class="form__input login-form__username" placeholder="" required)
				
				.add-course-form__buttons.form__btn-group
					input(name="" type="submit" value="Add course").button.form__button_left#add-btn
					input(name="" type="reset" value="Cancel").button.form__button_right#cancel-btn

			section.pagination
				a(href="#").pagination__control.pagination__control_left &#8249
				ul.pagination__list
					li.pagination__item
						a(href="#").pagination__link 1
					li.pagination__item
						a(href="#").pagination__link 2
					li.pagination__item
						a(href="#").pagination__link 3
					li.pagination__item
						a(href="#").pagination__link 4
					li.pagination__item
						a(href="#").pagination__link 5
				a(href="#").pagination__control.pagination__control_right &#8250
	.empty

	block scripts
		script(src=`assets/js/courses${suffix}.js${version}`)